@model IEnumerable<Product>
@{
  ViewData["Title"] = "商品列表";
}

<div class="card shadow border-0 bg-body-tertiary mt-4">
  <div class="card-header bg-primary bg-gradient">
    <h2 class="text-white text-center mb-0">商品列表</h2>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-6">
      </div>
      <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
          <i class="bi bi-plus-circle me-1"></i>新增
        </a>
      </div>
    </div>
    <table id="tblData" class="table table-hover">
      <thead class="table-success">
        <tr>
          <th width="20%">名稱</th>
          <th width="15%">建立者</th>
          <th width="15%">類別</th>
          <th class="text-center">圖片</th>
          <th width="10%">型號</th>
          <th width="10%">價格</th>
          <th width="15%"></th>
        </tr>
      </thead>
      @*
      <tbody>
      @foreach (var item in Model)
      {
      <tr>
      <td class="align-middle">
      @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td class="align-middle">
      @Html.DisplayFor(modelItem => item.ISBN)
      </td>
      <td class="align-middle">
      @Html.DisplayFor(modelItem => item.Price)
      </td>
      <td class="align-middle">
      @Html.DisplayFor(modelItem => item.Author)
      </td>
      <td class="align-middle">
      @Html.DisplayFor(modelItem => item.Category.Name)
      </td>
      <td class="text-center">
      <img src="@item.ImageUrl" alt="@item.ImageUrl" width="100" />
      </td>
      <td class="align-middle text-end">
      <a asp-controller="Product" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil-square me-1"></i>編輯
      </a>
      <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
      <i class="bi bi-trash-fill me-1"></i>刪除
      </a>
      </td>
      </tr>
      }
      </tbody>
      *@
    </table>
  </div>
</div>

@section Scripts {
  <script src="~/lib/datatable/js/datatables.min.js"></script>
  <script src="~/js/product.js" asp-append-version="true"></script>
}