@model IEnumerable<Category>
@{
  ViewData["Title"] = "商品類別";
}

<div class="card shadow border-0 bg-body-tertiary mt-4">
  <div class="card-header bg-primary bg-gradient">
    <h2 class="text-white text-center mb-0">商品類別</h2>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-6">
      </div>
      <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
          <i class="bi bi-plus-circle me-1"></i>新增
        </a>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="table-success">
        <tr>
          <th>
            類別名稱
          </th>
          <th>
            訂購數量
          </th>
          <th>
            建立時間
          </th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => obj.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => obj.DisplayOrder)
            </td>
            <td>
              @Html.DisplayFor(modelItem => obj.CreatedDate)
            </td>
            <td>
              <div class="text-end">
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-sm btn-primary">
                  <i class="bi bi-pencil-square me-1"></i>編輯
                </a>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-sm btn-danger">
                  <i class="bi bi-trash-fill me-1"></i>刪除
                </a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
